# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src//frontend/node_modules
/src//frontend/.pnp
/src//frontend.pnp.js

# testing
/src/frontend/coverage

# production
/build
/src/frontend/build
/dist
/src/frontend/dist

# misc
.DS_Store
.env

/src/frontend/.DS_Store
/src/frontend/.env.local
/src/frontend/.env.development.local
/src/frontend/.env.test.local
/src/frontend/.env.production.local

/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*
